/* nav related syles  */
.sean1 {
    display: flex;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

/* changing all font on nav */
body {
    font-family: 'Open Sans', sans-serif;
}

h3 {
    display: flex;
}

/* changing nav-tittle */
.nav-tittle {
    color: #181818;
    font-family: Open Sans;
    font-size: 45px;
    font-weight: 800;
    line-height: normal;
}

/* adding color to a    */
.text-primary {
    color: #4b11eb;
}

/* nav flexing */
nav>ul {
    display: flex;
}

nav li {
    list-style: none;
    margin-right: 51px;
}

nav a {
    text-decoration: none;
    color: #3105f3;
}

.btn-primary {
    color: var(--white-color, #FFF);
    border-radius: 5px;
    background: #3105f3;
    border: none;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

}